@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~tinymce/skins/ui/oxide/skin.css';
@import '~tinymce/skins/ui/oxide/content.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


/* Animation for background */
.box {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 50px;
  background-color: #87C4FF;
  animation: moveBox 10s linear infinite;
}

@keyframes moveBox {
  0% {
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    left: 100%;
    top: 100%;
    transform: translate(-50%, -50%) scale(1);
  }
}